header {
    min-width: 60px;
    background-color: rgb(80, 80, 233);
    padding: 20px;
}


header ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

header ul a {
    color: white;
}

header ul li:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

body {
    display: flex;
    height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 20px;
}

main p {
    width: 70%;
}

