header {
    height: 100px;
    background-color: rgb(80, 80, 233);
    margin-bottom: 20px;
}

header nav {
    height: 100%;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    height: inherit;
}

header ul a {
    color: white;
}

header ul li:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 20px;
}

main p {
    width: 70%;
}

